.carCardBody {
    background-color: rgb(241, 237, 237);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 320px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 30px;
    padding: 7px;
}

.header {
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
}

.carAvailability {
    height: 20px;
    text-align: center;
}

.photo {
    width: 100%;
    height: 300px;
    float: left;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.carImg {
    height: 190px;
    width: 100%;
}

.opis {
    text-align: center;
}

.opisText {
    color: black;
}


.buttonCarCard {
    font-size: 12px;
    color: #fff;
    background-color: #256ce1;
    padding: 10px 30px;
    width: 140px;

    border-radius: 10px;
    display: inline-block;
    outline: none;
    cursor: pointer;
}

.buttonCarCard:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606;
}

.dostepny {
    color: rgb(38, 133, 38);
}

.niedostepny {
    color: rgb(38, 133, 38);
}