.container {
    width: 100%;
    background: #000;
    color: #fff;
}

.row-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row-footer-down {
    display: flex;
    justify-content: center;
    color: rgb(143, 142, 142);
}

a {
    text-decoration: none;
    color: #fff;
}

.col-footer {
    width: 250px;
}